<div class="container">

<div class="row">
		<h1 style="text-align: center">Notre cave</h1>
		<div class="col-md-3 img-portfolio" style="height: 400px;" ng-repeat="wine in $ctrl.wines">
				<a href="portfolio-item.html">
						<img class="img-responsive img-hover" style="height: 100px; width: 50px;"     src="{{'http://wine.wildcodeschool.fr' + wine.picture}}" alt="">
				</a>
				<h3>
						<a href="portfolio-item.html">{{wine.name}}</a>
				</h3>
				<p>{{wine.description.slice(0, 400)+"..."}}</p>
		</div>
</div>
<!-- /.row -->

<hr>
</div>
